---

language: python
python: "2.7"

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - pip install ansible

script:
  - ./build.sh local



# Travis CI virtual machines are based on Ubuntu 12.04 LTS Server Edition 64 bit.

#Travis CI preinstalled packages like MySQL, Elasticsearch, Ruby, etc.
#Solution: .travis.yml in this case should contains 'apt-get remove --purge [package]'
#for testing some Ansible role's.